<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Paste bin - Essehemy </title>
</head>
<body>
        <h1> Paste Bin - Essehemy </h1>

        <h2> USAGE </h2>
        
        <h3><code>GET /</code></h3>
        <p>
            responds with this message
        </p>
        <h3><code>POST /</code></h3>
        <p>
            accepts raw data in the body of the request and responds with a URL of
            a page containing the body's content
        </p>
        
        <h3><code>GET /&lt;id&gt;</code></h3>
        <p>
            retrieves the content for the paste with id &lt;id&gt;
        </p>
</body>
</html>